.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;

 
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    padding: 20px;

top: 4px;

}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.contact-form button:hover {
    background-color: #0056b3;
}

.home{

background-color: rgb(0, 183, 255);
border-radius: 20px;
float: right;
margin-bottom: 25px;

}


.back-home{
    color: #f8f8fd;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;

}
.contact-container h2{

    margin: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}
